@font-face {
    font-family: 'Kanit';
    src: url('../../public/assets/fonts/Kanit-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit-Bold';
    src: url('../../public/assets/fonts/Kanit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-color: #282828;
    --secondary-color: #b49f87;
    --secondary-color-darker: #937e66;
    --text-secondary: #353535;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    background-color: var(--primary-color);
    font-family: 'Kanit';
}

a {
    transition: all 450ms ease;
}

.container {
    padding: 1rem 10%;
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: var(--text-secondary);
}

.bg-footer {
    background-color: #27211e;
    color: #fff;
}

.separator {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    display: flex;
    align-items: center;

    &::before, &::after {
        height: 1px;
        content: " ";
        display: block;
        background-color: #fff;
        flex-grow: 1;
    }
}

.hover-secondary:hover {
    background-color: var(--secondary-color-darker);
}

.relative-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 145px);
}

.video-height {
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;

    @media screen and (max-width: 767px) {
        top: 30%;
        left: 0;
        transform: initial;
    }
}

.overlay h1 {
    font-size: 2.5rem;

    @media screen and (max-width: 767px) {
        font-size: 1.5rem;
    }
}

.overlay .contact-link {
    background: #27211e;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1.5rem;

    @media screen and (max-width: 991px) {
        font-size: 1rem;
    }
}

.overlay .contact-link:hover {
    background: #443934;
}

.p-icon-field {
    width: 100%;
}