nav {
    label {
        z-index: 1001;

        .menu {
            position: fixed;
            right: -80px;
            top: -80px;
            width: 200px;
            height: 200px;
            border-radius: 50% 50% 50% 50%;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            box-shadow: 0 0 0 0 var(--primary-color), 0 0 0 0 var(--primary-color);
            cursor: pointer;

            @media screen and (min-width: 992px) {
                visibility: hidden;
            }
        }

        .burger {
            position: absolute;
            top: 135px;
            left: 50px;
            width: 30px;
            height: 2px;
            background: var(--primary-color);
            display: block;
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-transition: .5s ease-in-out;
            transition: .5s ease-in-out;

            &::before, &::after {
                -webkit-transition: .5s ease-in-out !important;
                transition: .5s ease-in-out !important;
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: var(--primary-color);
            }

            &::before {
                top: -10px;
                position: relative;
            }

            &::after {
                bottom: -10px;
                position: relative;
            }
        }

        input {
            display: none;

            &:checked + .menu {
                box-shadow: 0 0 0 100vw var(--primary-color), 0 0 0 100vh var(--primary-color);
                border-radius: 0;
                position: fixed;

                & + ul {
                    opacity: 1;
                    color: #fff;
                }
            }

            &:checked + .menu .burger {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);

                &::before {
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    top: 0;
                }

                &::after {
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    bottom: 0;
                }
            }
        }

        ul {
            z-index: 200;
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            -webkit-transition: .5s 0s ease-in-out;
            transition: .5s 0s ease-in-out;
            list-style: none;

            @media screen and (min-width: 992px) {
                position: initial;
                top: 0;
                left: 0;
                -webkit-transform: translate(0 0);
                transform: translate(0, 0);
                opacity: 1;
            }
        }

        a {
            display: block;
        }
    }
}