.text-light {
    color: var(--secondary-color) !important;
}

.text-vertical {
    writing-mode: sideways-lr;
}

.word-break-all {
    word-break: break-all;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.clamp-50 {
    -webkit-line-clamp: 50;
}